In [12]:
import pandas as pd
import os
import collections

In [13]:
dict_files = collections.OrderedDict()
dict_files['Coal'] = 'coal.csv'
dict_files['Gas']='gas.csv'
dict_files['Gas flaring']='flaring.csv'
dict_files['Cement']='cement.csv'
dict_files['Oil']='oil.csv'                
list_fields = ['Africa', 'Asia', 'Central America', 'Europe', 'Middle East', 'North America', 'Oceania', 'South America']
year = 2014

In [14]:
# Read all csv files and create a dataframe from selected year and selected fields
df = pd.DataFrame()
for key in dict_files.keys():
    df_full = pd.read_csv('files_csv/' + dict_files[key], delimiter=';', index_col=0)
    df_select = df_full.loc[year][list_fields]
    df_select['Source'] = key
    df = df.append(df_select)
df.set_index('Source', inplace=True)
df

,Africa,Asia,Central America,Europe,Middle East,North America,Oceania,South America
Source,,,,,,,,
Coal,443.7634,10551.2101,7.252400,1648.4462,182.7798,1848.5108,184.9079,111.0849
Gas,229.5443,1426.6821,47.077200,1803.5072,954.8333,1806.5152,76.9368,287.7939
Gas flaring,53.3991,34.5633,0.003664,43.9192,58.4321,25.5794,3.2467,31.0048
Cement,78.0755,1561.7631,7.332600,111.2652,133.5251,62.6906,4.2082,62.3021
Oil,489.8935,3230.1027,124.503700,1795.5794,1086.5916,2774.2560,145.8208,721.4600

In [4]:
df['South and Central America'] = df['South America'] + df['Central America']
df

,Africa,Asia,Central America,Europe,Middle East,North America,Oceania,South America,South and Central America
Source,,,,,,,,,
Coal,443.7634,10551.2101,7.252400,1648.4462,182.7798,1848.5108,184.9079,111.0849,118.337300
Gas,229.5443,1426.6821,47.077200,1803.5072,954.8333,1806.5152,76.9368,287.7939,334.871100
Gas flaring,53.3991,34.5633,0.003664,43.9192,58.4321,25.5794,3.2467,31.0048,31.008464
Cement,78.0755,1561.7631,7.332600,111.2652,133.5251,62.6906,4.2082,62.3021,69.634700
Oil,489.8935,3230.1027,124.503700,1795.5794,1086.5916,2774.2560,145.8208,721.4600,845.963700

In [5]:
df.loc['Gas']

Africa                        229.5443
Asia                         1426.6821
Central America                47.0772
Europe                       1803.5072
Middle East                   954.8333
North America                1806.5152
Oceania                        76.9368
South America                 287.7939
South and Central America     334.8711
Name: Gas, dtype: float64

In [6]:
df['Asia']

Source
Coal           10551.2101
Gas             1426.6821
Gas flaring       34.5633
Cement          1561.7631
Oil             3230.1027
Name: Asia, dtype: float64

In [7]:
df.loc['Gas','Asia']

1426.6821

In [8]:
sources = df.index
sources

Index([u'Coal', u'Gas', u'Gas flaring', u'Cement', u'Oil'], dtype='object', name=u'Source')

In [9]:
regions = df.columns
regions = regions.drop(['Central America','South America'])  # We have summed the both
regions

Index([u'Africa', u'Asia', u'Europe', u'Middle East', u'North America',
       u'Oceania', u'South and Central America'],
      dtype='object')

In [10]:
nodes = sources.tolist() + regions.tolist()
nodes

['Coal',
 'Gas',
 'Gas flaring',
 'Cement',
 'Oil',
 'Africa',
 'Asia',
 'Europe',
 'Middle East',
 'North America',
 'Oceania',
 'South and Central America']

In [11]:
file = open('emissions.json', 'w')

file.write('{\n')
file.write('"nodes": [\n')
for node in nodes:
    file.write('{"name": "%s"},\n' %(node))
# remove last comma
file.seek(-2, os.SEEK_END)
file.truncate()
file.write('\n],\n')

file.write('"links": [\n')
for source in sources:
    for region in regions:
        file.write('{"source": "%s", "target": "%s", "value": "%.2f"},\n' %(source, region, df[region][source]))
# remove last comma
file.seek(-2, os.SEEK_END)
file.truncate()
file.write('\n]\n')
file.write('}\n')

file.close()